@import '../../../scss/variables';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-up(md) {
    .app {
        .navigation-component {
            $search-component-width: 20.8rem;
            $search-component-padding-block-end: 1.5rem;

            .search-component {
                flex-basis: $search-component-width;
                padding-block-end: $search-component-padding-block-end;
                background: none;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .app {
        .navigation-component {
            padding-inline-start: $p-primary;
            padding-inline-end: $p-primary;
        }
    }
}

.modal-component.navigation-modal-component {
    .modal-full-screen .modal-content {
        height: calc(100vh - #{$header-height-top-bar});
    }
}
