@import '../../../scss/variables';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-down(sm) {
    .app {
        .navigation-component {
            $logo-width: 10rem;
            $logo-height: 3rem;

            & {
                padding-block-start: 0;
                padding-block-end: 0;
                padding-inline-start: $p-primary;
                padding-inline-end: $p-primary;
            }

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                background: $primary;
            }

            .navigation-component-content {
                &-text {
                    width: $logo-width;
                    background-size: $logo-width $logo-height;
                }
            }

            .account-nav-control-alt-component,
            .cart-bar-component-button {
                margin-inline-start: $m-primary;
            }

            .navigation-component-toggle .navbar-toggler-icon {
                margin-inline-end: 0;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .app {
        .navigation-component {
            $navigation-component-icon-margin-inline: 2.6rem;

            .account-nav-control-alt-component {
                margin-inline-start: $navigation-component-icon-margin-inline;
            }

            .cart-bar-component-button {
                margin-inline-start: $navigation-component-icon-margin-inline;
            }

            .navigation-component-toggle .navbar-toggler-icon {
                margin-inline-end: $navigation-component-icon-margin-inline;
            }
        }
    }
}
