.app {
    .prefilled-email-component {
        $icon-bg-size: 2.5rem 2rem;

        &::before {
            background-size: $icon-bg-size;
        }
    }
}

[dir='rtl'] {
    .app {
        .prefilled-email-component {
            &-text {
                text-align: start;
            }
        }
    }
}
