@import '../../../../common/scss/variables';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-up(md) {
    .app {
        .checkout-info-component {
            $step-title-height: 6rem;
            $shipping-box-title-font-size: $font-size-title;
            $shipping-box-title-padding-block-start: 2.3rem;
            $shipping-box-title-padding-block-end: 3rem;
            $payment-box-title-padding-block-end: 2.3rem;
            $billing-address-as-shipping-block-height: 6rem;

            &-body-content {
                padding-inline-end: $p-primary;
            }

            &-step-title {
                display: flex;
                justify-content: center;
                align-items: center;
                height: $step-title-height;
            }

            &-step-checkout-discounts {
                .checkout-discounts-component-accordion .accordion-toggle.button-component {
                    border-top: 0;
                }
            }

            &-contact-info-box {
                .checkout-contact-info-component {
                    padding-block-start: 0;
                }
            }

            &-shipping-box,
            &-payment-box {
                .box-component-title {
                    line-height: 1;
                    padding-block-start: $shipping-box-title-padding-block-start;
                    font-size: $shipping-box-title-font-size;
                }
            }

            &-shipping-box {
                .box-component-title {
                    padding-block-end: $shipping-box-title-padding-block-end;
                }
            }

            &-payment-box {
                .box-component-title {
                    padding-block-end: $payment-box-title-padding-block-end;
                }
            }

            .billing-address-as-shipping-component {
                height: $billing-address-as-shipping-block-height;
                padding-block-start: $p-secondary;
                padding-block-end: $p-secondary;
                padding-inline-start: $p-primary;
                padding-inline-end: $p-primary;
            }

            &-body-total {
                & {
                    width: $total-column-width;
                    flex-shrink: 0;
                    margin-block-start: 0;
                    order: 2;
                }

                &-title {
                    font-size: $font-size-title;
                }
            }

            &-header-wrapper {
                background-color: $light;
                border-bottom: $border-width solid $gray-light-primary;
            }

            .cart-header-component {
                max-width: $max-content-width;
                margin-block-start: auto;
                margin-block-end: auto;
                margin-inline-start: auto;
                margin-inline-end: auto;
                border: none;
            }
        }
    }

    [dir='rtl'] {
        .app {
            .checkout-info-component-body-content {
                padding-right: initial;
            }
        }
    }
}
