@import '../../../common/scss/variables';

.app {
    .variation-attribute-color-component {
        $variation-attribute-size: 2.4rem;
        $variation-attribute-padding: 0.2rem;
        $variation-attribute-margin-inline-end: 0.7rem;
        $variation-attribute-content-size: 1.8rem;

        & {
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0;
            margin-inline-end: 0;
        }

        .variation-attribute-color-component-value {
            & {
                min-width: auto;
                min-height: auto;
                width: $variation-attribute-size;
                height: $variation-attribute-size;
                border-radius: 50%;
                padding-block-start: $variation-attribute-padding;
                padding-block-end: $variation-attribute-padding;
                padding-inline-start: $variation-attribute-padding;
                padding-inline-end: $variation-attribute-padding;
                border-color: $light;
                margin-block-end: 0;
                transition: border-color 150ms ease-in-out;
            }

            &::after {
                display: none;
            }

            &:not(:last-child) {
                margin-inline-end: $variation-attribute-margin-inline-end;
            }

            &:hover {
                box-shadow: none;
            }

            &:hover,
            &-active {
                border-color: $primary;
            }
        }

        &-content {
            width: $variation-attribute-content-size;
            height: $variation-attribute-content-size;
            border-radius: 50%;
        }
    }
}
