@import '../../../../common/scss/variables';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-up(md) {
    .app {
        .search-component {
            $search-modal-component-form-width: 20.8rem;

            & {
                position: static;
            }

            &-form {
                border-bottom: $border-width solid $dark-grey;
                background: $primary;
            }

            &-form-content {
                width: $search-modal-component-form-width;
            }

            &-form-content-input.input-component {
                font-size: $font-size-base;
                background: $primary;
                padding-left: 0;
            }
        }
    }

    [dir='rtl'] {
        .app {
            .search-component {
                &-form-content-input {
                    padding-left: $p-primary-lg;
                    padding-right: 0;
                }
            }
        }
    }
}
