@import '../../../../common/scss/variables';
@import '../../../../shipping/components/ShippingAddress.component/index';
@import '../../../../shipping/components/ShippingAddressAdd.component/index';
@import '../../CheckoutStepPreview.component/index';
@import '~bat-core/common/src/components/AddressPreview.component/styles/vuse/index';

.app {
    .checkout-shipping-address-step-component {
        &-preview {
            &.checkout-step-preview-component {
                padding-block-start: $p-primary;
                padding-block-end: $p-primary;
                padding-inline-start: $p-primary;
                padding-inline-end: $p-primary;
            }

            .checkout-step-preview-component {
                &-preview {
                    padding-block-start: 0;
                    padding-block-end: 0;
                }
            }
        }
    }
}
