@import '../../../../common/scss/variables';

.app {
    .order-details-box-component {
        border-color: $gray-light-primary;

        &-title {
            padding-block-start: 0;
            padding-block-end: 0;
            padding-inline-start: 0;
            padding-inline-end: 0;
        }

        &-content {
            padding-inline-start: $p-primary;
        }
    }
}
