@import '../../../../common/scss/variables';
@import '../../../../user/components/SocialProviders.component/index';
@import '../../CheckoutTotalsItem.component/index';
@import '../../CheckoutTotalsInfo.component/index';

.app {
    .checkout-totals-component {
        $total-price-font-size: 2.4rem;
        $total-price-letter-spacing: 0.023rem;

        &-points-item {
            display: flex;
            justify-content: space-between;
            margin-block-end: $m-secondary;
            font-size: $font-size-md;
        }

        &-total {
            align-items: center;
            font-weight: $font-weight-normal;

            &:last-child {
                margin-block-end: 0;
            }
        }

        &-total-label,
        &-total-price-label {
            font-size: $font-size-md;
        }

        &-total-price-value {
            font-size: $total-price-font-size;
            letter-spacing: $total-price-letter-spacing;
            padding-left: initial;
            padding-inline-start: $p-tertiary;
        }
    }
}

body:not([dir='rtl']) {
    .app {
        .checkout-totals-component {
            &-total-price-value {
                font-family: $font-family-secondary;
            }
        }
    }
}

[dir='rtl'] {
    .app {
        $checkout-totals-component-total-price-font-weight: 800;

        .checkout-totals-component {
            &-total-price-value {
                font-weight: $checkout-totals-component-total-price-font-weight;
            }
        }
    }
}
