@import '../../../common/scss/variables';
@import '../../../common/scss/mixins';
@import '~bat-core/checkout/src/components/CheckoutProductsListItem.component/styles/vuse/index';
@import '../CheckoutTotals.component/index';
@import '../../../product/components/ProductSale.component/index';
@import '../../../product/components/ProductQty.component/index';
@import '../../../product/components/VariationAttribute.component/index';
@import '../../../product/components/ConfigurableProductPlainOptions.component/index';

.checkout-products-list-component {
    $icon-size: 1.8rem;
    $icon-margin-inline-start: 1.7rem;
    $icon-margin-inline-end: $m-secondary;
    $scroll-bar-width: 0.8rem;
    $product-item-height: 15.5rem;
    $products-item-padding-inline-end: 1.5rem;
    $products-list-max-height: 2 * $product-item-height;
    $products-padding-block-start: 2.4rem;
    $products-padding-block-end: $p-primary;

    & {
        background: $light;
        padding-block-start: $products-padding-block-start;
        padding-block-end: $products-padding-block-end;
        padding-inline-start: $p-primary;
        padding-inline-end: $p-secondary;
        margin-block-end: $m-primary;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-header-inner {
        display: flex;
        align-items: center;
    }

    &-count {
        font-size: $font-size-md;
        font-weight: $font-weight-bold;
    }

    &-body {
        margin-block-start: $m-primary;
    }

    &-body::before {
        display: block;
        content: '';
        border-top: $border-width solid $gray-light-primary;
        margin-block-start: 0;
        margin-block-end: $m-primary;
        margin-inline-start: 0;
        margin-inline-end: $m-primary;
    }

    &-body-hidden {
        display: none;
    }

    &-list {
        list-style-type: none;
        padding-block-start: 0;
        padding-block-end: 0;
        padding-inline-start: 0;
        padding-inline-end: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        max-height: $products-list-max-height;

        @include scrollable-list-media-all(
            '.checkout-info-component-products-item',
            $scroll-bar-width: $scroll-bar-width
        );
    }

    &-item {
        padding-inline-end: $products-item-padding-inline-end;
    }

    &-item:not(:last-child) {
        margin-block-end: $m-primary;

        .checkout-products-list-component-product-wrapper {
            padding-block-end: $p-primary;
            border-bottom: $border-width solid $gray-light-primary;
        }
    }

    &-product {
        padding-block-start: 0;
        padding-block-end: 0;
        padding-inline-start: 0;
        padding-inline-end: 0;
        flex-grow: 1;
    }

    &-toggle-icon {
        width: $icon-size;
        height: $icon-size;
        background-image: url('~bat-core/common/src/resources/svg/base/bat-increment.svg');
        background-size: $icon-size $icon-size;
        background-repeat: no-repeat;
        cursor: pointer;
        align-self: flex-end;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: $icon-margin-inline-start;
        margin-inline-end: $icon-margin-inline-end;
    }

    &-toggle-icon-active {
        background-image: url('~bat-core/common/src/resources/svg/base/bat-decrement.svg');
    }
}
