@import '../../../common/scss/variables';
@import '~bat-core/common/src/components/Button.component/styles/vuse/index';

.app {
    .cart-navigation-component {
        $navigation-button-padding-block-start: 1.4rem;
        $navigation-button-padding-block-end: 1.2rem;
        $checkout-icon-size: 2.6rem 1.8rem;

        .cart-navigation-cart,
        .cart-navigation-checkout {
            & {
                padding-block-start: $navigation-button-padding-block-start;
                padding-block-end: $navigation-button-padding-block-end;
                color: $dark-grey;
            }

            &.selected {
                font-weight: $font-weight-bold;
                color: $primary-font-color;
            }

            &::before {
                margin-inline-end: $m-secondary;
            }
        }

        .cart-navigation-cart {
            &::before {
                background-image: url('../../../common/resources/svg/glo-bag-black.svg');
            }

            &.selected::before {
                background-image: url('../../../common/resources/svg/glo-bag-selected.svg');
            }
        }

        .cart-navigation-checkout {
            &::before,
            &.selected::before {
                background-size: $checkout-icon-size;
                background-position: center;
                background-repeat: no-repeat;
            }

            &::before {
                background-image: url('../../../common/resources/svg/glo-checkout.svg');
            }

            &.selected::before {
                background-image: url('../../../common/resources/svg/glo-checkout-selected.svg');
            }
        }
    }
}

[dir='rtl'] {
    .app {
        .cart-navigation-component {
            .cart-navigation-cart,
            .cart-navigation-checkout {
                &::before {
                    margin-right: initial;
                }
            }
        }
    }
}
