@import '../../scss/variables';
@import '~bat-core/common/src/components/PasswordInput.component/styles/vuse/index';

.app,
.modal-component {
    .form-control-component {
        $bat-check-valid-symbol-size: 1.4rem 1.1rem;
        $active-label-font-size: 0.9rem;
        $label-transform-top: 2.6rem;
        $label-transform-left: 2rem;
        $active-label-left: 2.2rem;
        $form-control-height: 5rem;

        &-secondary {
            & {
                background-color: $gray-light-secondary;
            }

            .form-input-component {
                & {
                    background-color: $gray-light-secondary;
                    border-color: $gray-light-secondary;
                    height: $form-control-height;
                    font-size: $font-size-md;
                }

                &.input-component-error {
                    border-color: $danger;
                }
            }

            .form-control-label-transform {
                top: $label-transform-top;
                left: $label-transform-left;
                pointer-events: none;
            }

            .form-input-component.form-control-component-input-valid:not(.password-input-component-control) {
                background-image: url('~bat-core/common/src/resources/svg/base/bat-check-symbol.svg');
                background-size: $bat-check-valid-symbol-size;
            }
        }

        .form-control-label-transform.form-label {
            & {
                color: $disabled-light-font-color;
                font-size: $font-size-md;
            }

            &.active-label {
                font-size: $active-label-font-size;
                left: $active-label-left;
            }
        }

        .form-input-component {
            & {
                border-width: $secondary-border-width;
            }

            &:focus {
                border-color: $input-border-color-focus;
                box-shadow: none;
            }

            &:disabled {
                color: $disabled-light-font-color;
                background-color: $disabled-dark-color;
                border-color: $disabled-dark-color;
            }
        }

        &-error {
            // TODO: Change to valid class
            .form-control:focus {
                border-color: $danger;
            }
        }
    }
}

[dir='rtl'] {
    .app,
    .modal-component {
        $label-transform-right: 2rem;
        $active-label-right: 2.2rem;
        $input-valid-padding-inline-end: 6rem;
        $input-valid-background-position: center left 2rem;

        .form-control-component {
            &-secondary {
                .form-control-label-transform {
                    left: initial;
                    right: $label-transform-right;
                }
            }

            &-input-valid {
                padding-right: $p-primary;
                padding-inline-end: $input-valid-padding-inline-end;
                background-position: $input-valid-background-position;
            }

            .form-control-label-transform.form-label {
                &.active-label {
                    left: initial;
                    right: $active-label-right;
                }
            }
        }
    }
}
