@import '../../../../common/scss/mixins';
@import '../../CatalogProductListLoader.component/index';
@import '~bat-core/common/src/components/Button.component/styles/vuse/index';

.app {
    .catalog-product-list-component {
        $self: &;
        $title-font-size: 2.4rem;
        $title-margin-block-start: 0;
        $title-margin-block-end: 1.3rem;

        & {
            margin-block-start: 0;
        }

        &-title {
            font-size: $title-font-size;
            margin-block-start: $title-margin-block-start;
            margin-block-end: $title-margin-block-end;
            margin-inline-start: 0;
            margin-inline-end: 0;
        }

        &-arrow.button-component {
            background-image: url('~bat-core/common/src/resources/svg/base/bat-arrow.svg');
        }

        &-products {
            @include scrollable-list-media-all($item-selector: #{$self}-product);
        }
    }
}
