@import '../../../../common/scss/variables';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-up(md) {
    .app {
        .catalog-product-list-component {
            $title-margin-block-start: 6.5rem;
            $title-margin-block-end: $m-primary;
            $title-font-size: 2.6rem;

            &-title {
                font-size: $title-font-size;
                margin-block-start: $title-margin-block-start;
                margin-block-end: $title-margin-block-end;
                margin-inline-start: 0;
                margin-inline-end: 0;
            }

            &-products-holder {
                padding-block-start: 0;
                padding-block-end: 0;
                padding-inline-start: $p-primary-lg;
                padding-inline-end: $p-primary-lg;
            }
        }
    }
}
