@import './variables';

.phone-component {
    $phone-component-width: 4rem;
    $phone-component-padding-inline-start: 5.3rem;
    $long-prefix-phone-component-padding-inline-start: 6rem;
    $phone-prefix-top: 0.65rem;
    $phone-prefix-content-uae: '+971';
    $phone-prefix-content-my: '+60';
    $phone-prefix-content-sa: '+966';

    .form-control-component {
        &-secondary {
            .form-label.active-label {
                &::before {
                    position: absolute;
                    top: $phone-prefix-top;
                    left: 0;
                    width: $phone-component-width;
                    font-weight: $input-font-weight;
                    line-height: $input-line-height;
                    color: $disabled-font-color;
                    font-size: $font-size-md;
                }
            }

            .form-label.active-label ~ .form-input-component {
                padding-inline-start: $phone-component-padding-inline-start;
            }
        }
    }

    &-uae .form-control-component {
        &-secondary {
            .form-label.active-label {
                &::before {
                    content: $phone-prefix-content-uae;
                }
            }

            .form-label.active-label ~ .form-input-component {
                padding-inline-start: $long-prefix-phone-component-padding-inline-start;
            }
        }
    }

    &-my .form-control-component {
        &-secondary {
            .form-label.active-label {
                &::before {
                    content: $phone-prefix-content-my;
                }
            }
        }
    }

    &-sa .form-control-component {
        &-secondary {
            .form-label.active-label {
                &::before {
                    content: $phone-prefix-content-sa;
                }
            }

            .form-label.active-label ~ .form-input-component {
                padding-inline-start: $long-prefix-phone-component-padding-inline-start;
            }
        }
    }
}

[dir='rtl'] {
    .phone-component {
        $sa-phone-component-padding-inline-start-rtl: 5.5rem;

        .form-control-component {
            &-secondary {
                .form-label.active-label {
                    &::before {
                        left: initial;
                        right: 0;
                    }
                }
            }
        }

        &-sa .form-control-component {
            &-secondary {
                .form-label.active-label ~ .form-input-component {
                    padding-inline-start: $sa-phone-component-padding-inline-start-rtl;
                }
            }
        }
    }
}
