@import '../../../../common/scss/variables';
@import '~bat-core/sales/src/components/OrderItem.component/styles/vuse/index';

.app {
    .orders-component {
        $orders-title-padding-block-start: $p-secondary;
        $orders-title-padding-block-end: 0.8rem;

        &:not(:first-child),
        &-group:not(:first-child) {
            border-top: none;
        }

        .orders-component-group {
            .orders-component-group-title {
                background-color: $background-primary-color;
                padding-block-start: $orders-title-padding-block-start;
                padding-block-end: $orders-title-padding-block-end;
                line-height: 1;
                font-size: $font-size-base;
            }
        }

        &-list {
            background-color: $gray-light-secondary;
        }
    }
}
