@import '../../../../common/scss/variables';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-up(md) {
    .app {
        .orders-component {
            &-group-title {
                padding-block-start: 0;
                padding-block-end: 0;
                padding-inline-start: 0;
                padding-inline-end: 0;
            }
        }
    }
}
