@import '../../../common/scss/variables';
@import '../ProductFilters.component/index';
@import '../ProductSorts.component/index';
@import '~bat-core/common/src/components/Button.component/styles/vuse/index';

.app {
    .product-filters-pane {
        & {
            z-index: $zindex-dropdown;
        }

        &-actions {
            margin-block-end: $m-primary;
            background-color: $dark;
        }

        .filters-count {
            margin-inline-start: $m-tertiary;
        }

        .button-component {
            font-weight: $font-weight-normal;
        }

        &-open-control.button-component:before {
            margin-inline-end: $m-secondary;
            background-image: url('../../../common/resources/svg/bat-filters.svg');
        }
    }
}
