@import '../../../../common/scss/variables';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-up(md) {
    .social-providers-component {
        margin-block-start: $m-primary;
        margin-block-end: $m-primary;
        margin-inline-start: auto;
        margin-inline-end: auto;
        max-width: $input-max-width-sm;
    }
}
