@import '../../../../common/scss/variables';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-down(sm) {
    .app {
        $discounts-button-width: 9rem;
        $discounts-button-height: 5rem;

        .checkout-discounts-component {
            .coupon-component {
                &-submit {
                    width: $discounts-button-width;
                    height: $discounts-button-height;
                }
            }
        }
    }
}
